nav{
    width: 100%;
    height: 75px;
    background-color: rgb(224, 217, 171);
    line-height: 75px;
    padding: 0px 100px;
    position: sticky;
    z-index: 1;
    padding-bottom: 20px;
}
nav ul{
    float: left;
    position: sticky;
}
nav ul li{
    display: inline-block;
    list-style: none;
}
nav ul li a{
    color: rgb(73, 16, 0);
    text-decoration: none;
    font-size: 25px;
    text-transform: uppercase;
    padding: 0px 125px;
}
nav ul li a:hover{
    color: rgb(126, 0, 1);
}
nav ul li .active{
    color: rgb(136, 62, 37);
}
h1{
    font-size: 45px;
    text-align: center;
    color:rgb(224, 217, 171);
    padding-bottom: 15px;
    padding-top: 70px;
}
p{
    font-size: 30px;
    font-family: "athelas regular";
    text-align: center;
    color: rgb(224, 217, 171);
}
body{
    background-color: rgb(73, 16, 0);
    min-height: 100vh;
    max-width: 100%;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
    background:rgb(224, 217, 171);
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}
form h2{
    color:rgb(126, 0, 1);
    font-weight: 800;
    margin-bottom: 20px;
}
form input, form textarea{
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: whitesmoke;
    font-size: 18px;
}
form button {
    padding: 15px;
    background:rgb(136, 62, 37);
    color:rgb(224, 217, 171);
    font-size: 20px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px;
}
.java_logo{
    width: 300px;
    height: 200px; 
}
.loco2{
    margin-left: 700px;
    margin-right: 200px;
    border-radius: 25%;
    height: 300px;
    box-shadow: 4px 4px 8px rgb(43, 10, 1);
}
.loco3{
    border-radius: 25%;
    height: 300px;
    box-shadow: 4px 4px 8px rgb(43, 10, 1);
}
.latte{
    margin-left: 400px;
    margin-right: 450px;
    width: 25%;
    border-radius: 10%;
    box-shadow: 4px 4px 8px rgb(43, 10, 1);
}
.cookie{
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    border-radius: 10%;
    box-shadow: 4px 4px 8px rgb(43, 10, 1);
}
.greenteam{
    margin-left: 500px;
    margin-right: 200px;
   border-radius: 25%;
   height: 300px;
   box-shadow: 4px 4px 8px rgb(43, 10, 1);
}
.blueteam{
    margin-right: 200px;
    border-radius: 25%;
    height: 300px;
    box-shadow: 4px 4px 8px rgb(43, 10, 1);
}
.brownteam{
    border-radius: 25%;
    height: 300px;
    box-shadow: 4px 4px 8px rgb(43, 10, 1);
}
.sign{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    border-radius: 10%;
    box-shadow: 4px 4px 8px rgb(43, 10, 1);
}